.edit-container {
    max-width: 600px;
    width: 10%;
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    background-color: #fff;
    box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.75);
    border-radius: 8px;
    padding: 4em;
}

.edit-box > input {
    height: 2em;
    margin-top: 1em;
}

.close-button {
    text-align: center;
    margin-left: 1em;
}



 