.edit-container {
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    background-color: #fff;
    box-shadow: 0px 8px 5px #7d7d7dbf;
    border-radius: 8px;
    padding: 4em;
}

.edit-box > input {
    height: 2em;
    margin-top: 1em;
    display: block;
}

.close-button {
    text-align: center;
}

.edit-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}




 