.homepage-header {
	display: flex;
	padding: 1em 2em;
	gap: 2em;
	align-items: center;
	background-color: #5b4183;
  }

.homepage-header > h1{
	color: white;
	font-family: 'Kaushan Script', cursive;
	margin: 0;
}
  
  .searchbar {
	width: 60em;	
	display: flex;
	justify-content: center;
  }
  
  .searchbar > select {
	font-family: 'Roboto', sans-serif;
	outline: none;
	border: 2px solid lightgray;
	border-right: 0px;
	border-top-left-radius: 8px;
	border-bottom-left-radius: 8px;
  }

  .searchbar > select:hover{
	cursor: pointer;
  }
  
  .searchbar > input {
	font-family: 'Roboto', sans-serif;
	width: 100%;
	height: 50px;
	border: 2px solid lightgray;
	border-top-right-radius: 8px;
	border-bottom-right-radius: 8px;
	outline: none;
	text-align: center;
  }

  input::placeholder{
	color: #979797;
  }
  
  .login-box, .cart-box{
    opacity: 1;
	margin: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	color: white;
	margin-top: 0.5em;
	width: 4em;
    border-radius: 10em;
  }

  .login-box:hover,.cart-box:hover{
    opacity: 0.5;
	cursor: pointer;
  }

  .login-box > p, .cart-box > p{
	margin: 0;
	font-size: 12px;
  }


