.navbar{
  display: flex;
  padding: 1em 1em 2em;
}
.homepage-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.homepage-header h1 {
  font-family: "Kaushan Script", cursive;
}

.homepage-header a:link, .homepage-header a:visited{
	text-decoration: none;
	color: black;
}

.searchbar {
  width: 60em;
  display: flex;
  justify-content: center;
  font-family: "Passion One", cursive;
}

.searchbar > select {
  font-family: "Passion One", cursive;
  outline: none;
  border: 2px solid lightgray;
  border-right: 0px;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.checkbox-container{
  margin-left: 6em;
}

.checkbox-container > label{
  margin: 0.5em;
}

.drpDown {
  font-family: "Passion One", cursive;
}

.searchbar > select:hover {
  cursor: pointer;
}

.searchbar > input {
  font-family: "Passion One", cursive;
  width: 100%;
  height: 50px;
  border: 2px solid lightgray;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  outline: none;
  text-align: center;
}

input::placeholder {
  color: #979797;
}

.login-box,
.cart-box {
  opacity: 1;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 0.5em;
  width: 4em;
  border-radius: 10em;
}

.login-box:hover,
.cart-box:hover {
  opacity: 0.5;
  cursor: pointer;
}

.login-box > p,
.cart-box > p {
  margin: 0;
  font-size: 12px;
}
