.landing-page{
	min-height: 100vh;
	display: flex;
	flex-direction: column;
    justify-content: center;
    align-items: center;
}

.landing-page > h2{
    margin-bottom: 0;
}

.bookbox{
    display: flex;
    width: 90vw;
    margin: 1em 0;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
}