:root {
  font-family: 'Passion One', cursive;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #000;
  background-color: #fff;
}


body {
  margin: 0;
  max-width: 100vw;
  overflow-x: hidden;
  min-height: 100vh;
}

input:hover, button:hover{
  cursor:pointer;
}

button, input[type="submit"]{
  background-image: radial-gradient(white, rgb(116, 112, 112));
  font-family: 'Passion One', cursive;
  font-size: 1em;
}

p{
  margin: 0;
}